header {  
  height: 75px;
  align-items: center;
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  right: 0;
  left: 0;
  z-index: 3;
}
header .headerI{
  height: 100%;
  display: flex;
  max-width: 1712.7px;
  width: 100%;
  margin: 0 auto;
}
header ul.fi {  
  width: 50%;
  gap: 50px;
  height: 100%;
  align-items: center;
}
header ul.fi li {
  
}
header ul.fi li a {  
  color: white;
}
header h2 {  
  font-size: 0;
  background-image: url(../img/logo_white.png);
  width: 121px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
header h2 a {
  
}
header ul.sc {  
  width: 50%;
  justify-content: end;
  gap: 30px;
  height: 100%;
  align-items: center;
}
header ul.sc li {  
  color: white;
}
header ul.sc p {  
  font-size: 0;
  background-image: url(../img/search.svg);
  width: 24px;
  height: 24px;
}
header ul.sc p a {

}
header ul.sc a {  
  font-size: 0;
  background-image: url(../img/menu.svg);
  width: 24px;
  height: 24px;
}
/* 슬라이드 메뉴 */
header .smenu{
  position: absolute;
  top: 0;
  background-color: white;
  width: 20%;
  height: 100vh;
  left: -95.15px;
  /*! left: calc(-20% + (-95.15px)); */
  z-index: 2;
}
header .smenu .menu1{
  
}
header .smenu .topAll{  
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: left;
  box-sizing: border-box;
  padding: 20px 0;
}
header .smenu a.top{  
  color: white;
  padding: 20px 20px 20px 30px;
}
header .smenu .msub{  
  width: 100%;
  height: 50px;
  padding: 20px 20px 20px 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}
header .smenu .msub:nth-child(3){
  border-bottom: 1px solid #ccc;
}
header .smenu .msub h3{  
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
header .smenu .msub h3::before{
  content: "";
  background-image: url(../img/add.svg);
  width: 24px;
  height: 24px;
  display: block;
  order: 2;
  transition: 0.5s;
}
.subColor{
  color: yellow;  
}
header .smenu .msub ul{  
  display: none;
  width: 100%;
}
header .smenu .msub ul li{  
  line-height: 3;
}
header .smenu .msub ul li a{
  
}
header .smenu h4{  
  padding: 20px 20px 20px 30px;
}
header .smenu p{
  margin-left: 30px;
  line-height: 1.5;
}
header .smenu a.ins{  
  font-size: 0;
  background-image: url(../img/instagram2.svg);
  width: 30px;
  height: 30px;
  display: block;
  margin-left: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 20px;
}
/* 헤더 색상 변경 */
.headerFix{
  position: fixed;
  z-index: 1;
  max-width: 1903px;
  /*! background-color: white; */
  top: 0;
  /*! width: 100%; */
  margin: 0;
  /*! left: calc((100% - 1712.7px) / 2); */
  background-color: white;
}
header.headerFix h2{  
  background-image: url(../img/logo.png);
}
header.headerFix ul.sc li{
  color: black;
}
header.headerFix ul.fi li a{
  color: black;
}
header.headerFix ul.sc p{
  background-image: url(../img/search_black.svg);
}
header.headerFix ul.sc a{
  background-image: url(../img/menu_black.svg);
}
/* 배경 */
header .headerI .oc{
  display: block;
  background-color: rgba(0,0,0,0.5);
  height: 100vh;
  position: absolute;
  z-index: -1;
  top: 0;
  left: -95px;
  width: 1907px;
}