section#best {
  
}
section#best div.wrap {
  
}
section#best div.wrap h2 {
  
}
section#best div.wrap p {
  
}
section#best div.wrap div.uno {
  
}
section#best div.wrap div.uno h3 {
  
}
section#best div.wrap div.uno p {
  
}
section#best div.wrap div.uno p span {
  
}
section#best div.wrap div.dos {
  
}
section#best div.wrap div.dos h3 {
  
}
section#best div.wrap div.dos p {
  
}
section#best div.wrap div.dos p span {
  
}
section#best div.wrap div.tress {
  
}
section#best div.wrap div.tress h3 {
  
}
section#best div.wrap div.tress p {
  
}
section#best div.wrap div.tress p span {
  
}
section#best div.wrap div.cuatro {
  
}
section#best div.wrap div.cuatro h3 {
  
}
section#best div.wrap div.cuatro p {
  
}
section#best div.wrap div.cuatro p span {
  
}

section#instagram {
  
}
section#instagram div.flex {  
  justify-content: center;
  align-items: center;
}
section#instagram div.flex h2 {  
  font-weight: 700;
}
section#instagram div.flex p {  
  align-items: center;
  display: flex;
  flex-direction: column;
}
section#instagram div.flex p::before{
  content: "";
  background-image: url(../img/insta_icon.svg);
  display: block;
  width: 25px;
  height: 25px;
}