div#title{
  min-height: 1000px;
}
div#title div.text{
  width: 100%;
  height: 800px;
  position: relative;
}
div#title div.text::before{
  content: "";
  background-image: url(../img/1.jpg);
  display: block;
  width: 100%;
  height: 100%;
}
div#title div.text:nth-child(2)::before{
  content: "";
  background-image: url(../img/2.jpg);
  display: block;
  width: 100%;
  height: 100%;
}
div#title div.text:nth-child(3)::before{
  content: "";
  background-image: url(../img/3.jpg);
  display: block;
  width: 100%;
  height: 100%;
}
div#title div.text .tu{
  position: absolute;
  bottom: 19%;
  right: 8%;
  color: white;
  line-height: 3;
}
div#title div.text .tu h2{   
  line-height: 1.5;
  font-weight: 700;
}
div#title div.text .tu p{   
  display: block;
  font-weight: 300;
  padding-top: 10px;
}
div#title div.text .tu p span{   
  display: block;
  line-height: 2;
  font-weight: 600;
}
div#title div.text .tu a{   
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
}
.slick-prev, .slick-next{  
  width: 50px !important;
  height: 50px !important;
  top: 40% !important;
}
.slick-next{
  right: 48px !important;
}
.slick-prev{
  left: 48px !important;
  z-index: 1;
}
.slick-prev::before, .slick-next::before{
  color: transparent !important;
  font-size: 50px !important;
  background-repeat: no-repeat;
  background-size: contain;
}
.slick-prev::before {
  background-image: url(../img/arrow_left.svg) !important;;
}
.slick-next::before{
  background-image: url(../img/arrow_right.svg) !important;;
}